<h1>Des idées d'évènement</h1>
<p>
  <%= link_to "Créer un évènement", new_event_path, class: "btn btn-primary" %>
</p>

<%# @featured_events.each... %>
<%# end %>

<div class="row">
  <% @events.each do |event| %>
    <div class="col-xs-6 col-sm-3">
      <%= link_to event.label, event_path(event) %>
      <p>
        <% if event.pictures.count > 0 %>
          <%= cl_image_tag event.pictures[1].image_url , :width => 100, :height => 150, :crop => :fill %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
