<h1>Des idées d'évènements</h1>
<p>
  <%= link_to "Créer un évènement", new_event_path, class: "btn btn-primary" %>
</p>

<div class="row">
  <% @events.each do |event| %>
    <div class="col-xs-6 col-sm-3">
      <h3>
        <%= link_to event.label, event_path(event) %>
      </h3>
      <p>
        <% if event.pictures.count > 0 %>
          <%= cl_image_tag event.pictures.first.image_url , :width => 100, :height => 150, :crop => :fill %>
          <span class ="avatar">
            <%= "#{event.participation} €" %>
          </span>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <form action="/events" method="get">
      <input type="text" name="search">
      <input type="submit">
    </form>
  </div>
</div>
