<h1>Des idées d'évènements</h1>
<p class="text-center">
  <%= link_to "Créer un évènement", new_event_path, class: "btn btn-primary btn-sm" %>
</p>

<%= render 'feature_events' %>

<!-- <div class="row">
  <div class="text-center"
    <form action="/events" method="get">
      <input type="text" name="search" placeholder="Catégorie">
      <input type="submit">
    </form>
  </div>
</div> -->

